/@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
*,
::after,
::before {
  box-sizing: inherit;
}
@-ms-viewport {
  width: device-width;
}
header {
  display: block;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #212529;
}
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
small {
  font-size: 80%;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
a {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
h4,
h5 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  color: #343a40;
}
/* Style pour le sous-titre */
h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  color: #343a40;
}
.display-4 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  color: #343a40;
  /*font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.1;*/
}
.small,
small {
  font-size: 80%;
  font-weight: 400;
}
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col,
.col-1,
.col-sm {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
}
@supports (
  (-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)
) {
}
.bg-info {
  background-color: #17a2b8 !important;
}
a.bg-info:focus,
a.bg-info:hover {
  background-color: #117a8b !important;
}

.bg-green {
  background-color: #1e7e34 !important;
}
a.bg-green:focus,
a.bg-green:hover {
  background-color: #18692b !important;
}

.bg-orange {
  background-color: #ffc107 !important;
}
a.bg-orange:focus,
a.bg-orange:hover {
  background-color: #d39e00 !important;
}

.bg-rouge {
  background-color: #bd2130 !important;
}
a.bg-rouge:focus,
a.bg-rouge:hover {
  background-color: #bd2130 !important;
}
.bg-dark {
  background-color: #343a40 !important;
}
.border {
  border: 1px solid #e9ecef !important;
}
.border-top-0 {
  border-top: 0 !important;
}
.border-right-0 {
  border-right: 0 !important;
}
.border-bottom-0 {
  border-bottom: 0 !important;
}
.border-left-0 {
  border-left: 0 !important;
}
.rounded {
  border-radius: 0.25rem !important;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
@media (min-width: 576px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
}
.w-100 {
  width: 100% !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mb-4 {
  margin-bottom: 1.5rem !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-center {
  text-align: center !important;
}
.text-white {
  color: #fff !important;
}
.text-muted {
  color: #868e96 !important;
}

@media (max-width: 575px) {
  .display-4 {
    /*font-size: 1.5rem;*/
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
    color: #343a40;

  }
  .day h5 {
    background-color: #f8f9fa;
    padding: 3px 5px 5px;
    margin: -8px -8px 8px -8px;
  }
  .date {
    padding-left: 4px;
  }
}

@media (min-width: 576px) {
  .day {
    height: 17.5vw;
  }
}
.day-border h5:not(:first-child) {
  border-left: 2px solid #fff;
}
.box-border {
  border: 1px solid #e9ecef;
  border-left: 2px solid #343a40;
}
.day {
  height: auto;
}




/* Style de la boîte de dialogue modale */
.modal {
  display: none; /* Par défaut, la boîte de dialogue est cachée */
  position: fixed; /* Positionnement fixe pour la boîte de dialogue */
  z-index: 1; /* Le niveau de la boîte de dialogue est supérieur à celui des autres éléments de la page */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4); /* Ajout d'un arrière-plan semi-transparent */
}

/* Style du contenu de la boîte de dialogue modale */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrage vertical et horizontal */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Style de la croix pour fermer la boîte de dialogue modale */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* Style de la croix pour fermer la boîte de dialogue modale au survol */
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
